<a href="https://colab.research.google.com/github/walydia/python-practicals/blob/main/AIMSlab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1 Usefull libraries

In [4]:
#   we will use pandas to manipulates the dataset as frame
import pandas as pd

# numpy for for linear 

import numpy as np

import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

Step 2-Data pre-processing

In [5]:

df_train=pd.read_csv('sample_data/train.csv')

df_test=pd.read_csv('sample_data/test.csv')

df_train.head()

# x =>

    x          y
0  24  21.549452
1  50  47.464463
2  15  17.218656
3  38  36.586398
4  87  87.288984

In [6]:
print(df_train.shape)
print(df_test.shape)

(700, 2)
(300, 2)

In [8]:
df_train.describe().transpose()
# Here, we have one missing value in our training data

   count       mean        std  ...       50%        75%         max
x  700.0  50.000000  28.936317  ...  49.00000  75.000000  100.000000
y  699.0  49.939869  29.109217  ...  48.97302  74.929911  108.871618

[2 rows x 8 columns]

In [9]:
# 
df_train.isnull().sum()

x    0
y    1
dtype: int64

In [10]:
df_train[df_train.isna().any(axis=1)]

      x   y
213  40 NaN

In [13]:
df_train.dropna(inplace=True)
# we can use : df_train.dropna()
# dropna => drop NaN

In [14]:
df_train.shape

(699, 2)

In [15]:
df_test.describe().transpose()

   count       mean        std  ...        50%        75%         max
x  300.0  50.936667  28.504286  ...  53.000000  73.000000  100.000000
y  300.0  51.205051  29.071481  ...  52.170557  74.303007  105.591837

[2 rows x 8 columns]